{% extends "partials/layout/layout-card-structure.njk" %}
{% set is_back = true %}
{% set is_production = true %}

{% block above %}
	{% include "partials/content/character-and-examples.njk" %}
	{% include "partials/structure/full-separator.njk" %}
{% endblock %}

{% block sidebar %}
	{% include "partials/content/stroke-order-diagram.njk" %}
	{% include "partials/content/tags.njk" %}
	{% include "partials/content/readings.njk" %}
{% endblock %}

{% block main %}
	{% include "partials/content/font-examples.njk" %}
	{% include "partials/content/keyword-and-meaning.njk" %}
	{% include "partials/content/user-data.njk" %}
	{% include "partials/content/linked-words.njk" %}
	{% include "partials/content/primitives-and-radicals.njk" %}
{% endblock %}

{% block below %}
	{% include "partials/content/stories.njk" %}
	{% include "partials/content/actions.njk" %}
{% endblock %}

