{% set cardLayoutStructure = "partials/layout/layout-card.njk" %}
{% extends "partials/layout/_card-content.njk" %}

{% set is_front = true %}
{% set is_production = true %}

{% block above %}
	{% include "partials/content/character-and-examples.njk" %}
{% endblock %}

{% block below %}{% endblock %}
