{% extends "partials/layout/layout-card-content.njk" %}
{% set is_front = true %}
{% set is_recognition = true %}

{% block above %}
	{% include "partials/content/character-and-examples.njk" %}
{% endblock %}
