{% extends "partials/layout/layout-lookup-content.njk" %}
{% set is_lookup = true %}

{% block sidebar %}
	{% include "partials/content/stroke-order-diagram.njk" %}
	{% include "partials/content/tags.njk" %}
	{% include "partials/content/readings.njk" %}
{% endblock %}

{% block main %}
	{% include "partials/content/font-examples.njk" %}
	{% include "partials/content/keyword-and-meaning.njk" %}
	{% include "partials/content/linked-words.njk" %}
	{% include "partials/content/primitives-and-radicals.njk" %}
	{% include "partials/content/lookup-actions.njk" %}
{% endblock %}

{% block below %}
	{% include "partials/content/stories.njk" %}
	{% include "partials/content/actions.njk" %}
{% endblock %}
