/* ==============================================
START - Tooltip */
/* stylelint-disable no-descending-specificity */

// TODO consolidate .primitiveDetails

.primitiveDetails,
.kanji-addon__hover-tooltip {
	background: $brand-blue-primary;
	border-radius: 5px;
	bottom: calc(100% + 10px);
	box-shadow: 0 4px 16px $brand-grey-dark;
	color: $text-on-dark;
	font-family: 'Rubik', sans-serif !important;
	font-size: 16px;
	left: 0;
	line-height: 22px;
	opacity: 0;
	padding: 10px !important;
	pointer-events: none;
	position: absolute;
	text-align: left;
	transition: opacity $transition-duration;
	user-select: none;
	width: 200px;
	z-index: 1;

	@include dark-mode {
		background: $brand-grey-darker;
	}

	&.-below {
		bottom: unset;
		left: unset;
		right: 0;
		top: calc(100% + 10px);
	}
}

button.primitive,
.kanji-addon__hover-tooltip-btn {
	&:hover,
	&:focus {
		.primitiveDetails,
		.kanji-addon__hover-tooltip {
			opacity: 1;
		}
	}
}

// --------------------------------------
// Title tooltip

.title-tooltip {
	&__container {
		button {
			@include button-reset(true);

			color: $text-on-light;
			font-size: 10px;
			left: -8px;
			margin-left: 5px;
			opacity: 0.5;
			position: relative;
			top: 2px;
			width: 30px;
			z-index: 1;

			@include dark-mode {
				color: $text-on-dark;
			}

			&:hover,
			&:focus {
				opacity: 0.8;
			}
		}

		img {
			@include align-center;
			@include square(16px);

			@include dark-mode {
				filter: invert(1);
			}
		}
	}

	&__title {
		display: inline-flex;
	}

	&__text {
		margin-bottom: 10px;
		padding-right: 10px;
	}
}

/* END - Tooltip
============================================== */
