{% extends cardLayoutStructure %}

{# ------------------------------
Above #}

{# character-and-examples.njk #}
{# (no content here) #}

{# ------------------------------
Sidebar #}

{# stroke-order-diagram.njk #}
{% set txt__stroke_order_outer_title = "Character" %}
{% set txt__stroke_order_inner_title = "Stroke order" %}
{% set txt__stroke_order_inner_title = "Stroke order" %}
{% set txt__stroke_order_settings_tooltip %}
	Options for autoplay and stroke number default on/off are in the Kanji Setting menu window.
	<br/><br/>
	Tip: use arrow keys to navigate stroke order, plus ctrl for start/end.
{% endset %}
{% set txt__stroke_order_no_data = "(no data)" %}

{# tags.njk #}
{% set txt__tags_title = "Tags" %}

{# readings.njk #}
{% set txt__readings_title = "Readings" %}
{% set txt__readings_onyomi = "Onyomi:" %}
{% set txt__readings_kunyomi = "Kunyomi:" %}
{% set txt__readings_nanori = "Nanori:" %}

{# ------------------------------
Main #}

{# font-examples.njk #}
{% set txt__font_examples_title = "Font examples" %}

{# keyword-and-meaning.njk #}
{% set txt__meanings = "Meanings:" %}

{# linked-words.njk #}
{% set txt__vocab_title = "Vocab" %}
{% set txt__vocab_tooltip %}
	Colored buttons are vocab from cards you've learned. Outlined buttons are new cards that you haven't learned (yet). Grey buttons are clickable dictionary examples.
{% endset %}
{% set txt__vocab_tip %}
	Shift + click for dictionary lookup.
{% endset %}
{% set txt__vocab_mobile_info %}
	Vocab buttons are only clickable on desktop.
{% endset %}

{# primitives-and-radicals.njk #}

{# --- primitives #}
{% set txt__primitives_title = "Primitives" %}
{% set txt__primitives_tooltip %}
	The largest parts we can break this kanji down into. Primitives are usually kanji in their own right, but some only exist to help with mnemonic stories.
{% endset %}

{# --- primitives of #}
{% set txt__primitives_of_title = "Primitive in" %}
{% set txt__primitives_of_tooltip %}
	This kanji appears as a primitive within these other, more complex kanji.
{% endset %}

{% set txt__primitives_radicals_mobile_info %}
	Primitive buttons are only clickable on desktop.
	<br/>
	Primitive tooltip info can still be viewed by tapping.
{% endset %}

{# --- radicals #}
{% set txt__radicals_title = "Radicals" %}
{% set txt__radicals_tooltip %}
	Radicals are used to organize kanji in dictionaries. They're generally the smallest parts a kanji can be broken down into.
{% endset %}
{% set txt__radicals_tip %}
	Radicals aren't clickable (yet).
{% endset %}

{# ------------------------------
Below #}

{# stories.njk #}
{% set txt__stories_title = "Stories" %}

{# actions.njk #}
{% set txt__actions_title = "Actions" %}
{% set txt__actions_set_keyword = "Set Custom Keyword" %}
{% set txt__actions_set_story = "Set Custom Story" %}
{% set txt__actions_mark_delete = "Mark Known And Delete Card" %}
{% set txt__actions_suggest_change = "Suggest Change" %}
{% set txt__actions_mark_delete_info = "Shift + click for instant action." %}
{% set txt__actions_mobile_info %}
	Actions only work on desktop.
	<br/>
	You are able to set a custom keyword, custom story, and mark-known/delete existing kanji cards.
{% endset %}

{# lookup-actions.njk #}
{% set txt__lookup_actions_title = "Cards" %}
{% set txt__lookup_actions_recognition = "Show Recognition Card" %}
{% set txt__lookup_actions_production = "Create Production Card" %}
{% set txt__lookup_actions_mobile_info %}
	Actions only work on desktop.
	<br/>
	You are able to mark a kanji as known, and create or show the associated recognition and production cards.
{% endset %}
