/* ==============================================
START - Actions */

.actions {
	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 10px;

		@include bp.get(xs) {
			align-items: flex-start;
		}
	}

	&__title {
		@include bp.get(xs, xs) {
			text-align: center;
			width: 100%;
		}

		// Faded-look to communicate inoperation
		@include mobile-device {
			@include faded-info-msg;
		}
	}

	&__buttons {
		width: 100%;

		// Action buttons dont work on mobile
		@include mobile-device {
			display: none;
		}

		.button {
			margin: 0 0 10px;

			@include bp.get(xs) {
				margin: 0 5px 10px;
			}

			@include bp.get(s) {
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}

	&__primary,
	&__secondary {
		display: flex;
		flex-direction: column;
		width: 100%;

		@include bp.get(xs) {
			flex-direction: row;
			justify-content: center;
		}

		@include bp.get(s) {
			justify-content: flex-start;
		}
	}
}

/* END - Actions
============================================== */
