/* ==============================================
START - Actions */

// --------------------------------------
// Back actions

.actions-back {
	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 10px;

		@include bp.get(xs) {
			align-items: flex-start;
		}
	}

	&__title {
		// Faded-look to communicate inoperation
		@include mobile-info-msg;
		@include mobile-device {
			font-weight: bold;
		}
	}

	&__buttons {
		width: 100%;

		// Action buttons dont work on mobile
		@include mobile-device {
			display: none;
		}

		.button,
		.button-container {
			margin: 0 0 10px;
			width: 100%;

			@include bp.get(xs) {
				margin: 0 5px 10px;
			}
		}
	}

	&__primary,
	&__secondary {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		width: 100%;

		> .button:first-child,
		> .button-container:first-child {
			margin-left: 0;
		}

		@include bp.get(xs) {
			flex-direction: row;
			justify-content: flex-start;
		}
	}

	&__mark-known-delete {
		display: flex;
		flex-direction: column;

		.button {
			margin: 0 0 5px;
		}

		.faded-info-msg {
			text-align: center;
		}
	}
}

// --------------------------------------
// Front actions

.actions-front {
	&__container {
		@include align-horizontal-center;

		align-items: center;
		bottom: 20px;
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		text-align: center;
		width: 100%;
	}

	&__mark-known-delete {
		margin-bottom: 10px;
	}

	&__buttons {
		// Action buttons dont work on mobile
		@include mobile-device {
			display: none;
		}
	}
}

// --------------------------------------
// Lookup actions

.actions-lookup {
	&__title {
		// Faded-look to communicate inoperation
		@include mobile-info-msg;
		@include mobile-device {
			font-weight: bold;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;

		@include bp.get(xs) {
			flex-direction: row;
			justify-content: center;
		}

		@include bp.get(s) {
			justify-content: flex-start;
		}

		// Action buttons dont work on mobile
		@include mobile-device {
			display: none;
		}

		.button {
			margin-bottom: 20px;

			@include bp.get(xs) {
				margin: 0 5px;
			}

			@include bp.get(s) {
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}

/* END - Actions
============================================== */
