/* ==============================================
START - Character and examples */

.character-and-examples {
	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;

		@include bp.get(s) {
			margin-bottom: 25px;
		}
	}

	// --------------------------------------
	// Recognition

	&__list {
		@include list-reset;

		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	&__character {
		align-items: center;
		display: flex;
		font-size: 60px;
		justify-content: center;
		line-height: 80px;
		padding: 0 10px;
	}

	&__example-words {
		flex-wrap: wrap;
	}

	// --------------------------------------
	// Production

	&__keyword {
		margin: 0 0 20px;
	}

	// --------------------------------------
}

.word_front {
	font-size: 28px;
	font-weight: 300;
	margin: 0 10px 10px;
}

.word_front_default {
	opacity: 0.5;
}

/* END - Character and examples
============================================== */
