/* ==============================================
START - Keyword and meaning */

.keyword-and-meaning {
	&__container {
		text-align: center;

		@include bp.get(s) {
			margin: 0 0 15px;
			text-align: left;
		}
	}

	&__keyword {
		@include heading-size('h1');

		color: $brand-blue-primary;
		line-height: 1;
		margin: 15px 0 10px;

		@include bp.get(s) {
			margin-top: 0;
		}

		@include dark-mode {
			color: $brand-orange-primary;
		}
	}
}

// This style is separate, since it also applies
// to primitive keywords in the on-hover tooltips
// of the primitive buttons

.primitive_keyword {
	background-color: rgba($brand-blue-primary, 0.2);
	border-radius: 8px;
	display: inline-block;
	margin: 1px 0;
	padding: 7px 5px 5px;
	position: relative;

	@include dark-mode {
		background-color: rgba($brand-orange-primary, 0.2);
	}

	&::before {
		// "Primitive" badge
		@include pseudo;

		background-color: $brand-blue-primary;
		border-radius: 8px;
		color: $text-on-dark;
		content: 'Primitive';
		font-size: 10px;
		padding: 2px 5px;
		right: -10px;
		top: -5px;

		@include dark-mode {
			background-color: $brand-orange-primary;
			color: $text-on-light;
		}
	}

	.primitiveDetails & {
		// Within the on-hover tooltips
		background-color: rgba($brand-white, 0.25);
		padding: 1px 7px 1px 5px;

		@include dark-mode {
			background-color: rgba($brand-orange-primary, 0.25);
		}

		&::before {
			@include circle(13px);

			align-items: center;
			background-color: darken($brand-blue-primary, 20%);
			content: 'P';
			display: flex;
			font-size: 8px;
			font-weight: bold;
			justify-content: center;
			line-height: 1.2;
			padding: 2px;
			right: -5px;
			top: -3px;

			@include dark-mode {
				background-color: $brand-orange-primary;
			}
		}
	}
}

.meanings {
	&__container {
		align-items: center;
		display: flex;
		flex-direction: column;

		@include bp.get(s) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__title {
		@include heading-size('h3');

		margin: 0 10px 0 0;
	}
}

/* END - Keyword and meaning
============================================== */
