/* ==============================================
START - Linked words */

.linked-words {
	&__title {
		@include bp.get(s) {
			margin-top: 0;
		}

		@include bp.get(l) {
			margin-top: 10px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include bp.get(s) {
			justify-content: flex-start;
		}
	}

	&__examples {
		// Margin spacing shared with "show more" button

		button {
			margin: 0 10px 10px 0;
		}

		// Known words

		.word {
			@include button-primary;

			font-family: inherit;
			font-size: 24px !important;
			padding: 5px 10px !important;
			position: relative;

			@include bp.get(s) {
				font-size: 26px !important;
			}

			ruby {
				// Ruby text is hidden; inner span (without furigana)
				// is visible instead for more reliable select/copy highlighting
				// that will definitely exclude furigana (including tricky
				// cases like okurigana, kanji/hiragana combo words)
				color: transparent;
				user-select: none;

				rt {
					color: $text-on-dark;

					@include dark-mode {
						color: $text-on-light;
					}
				}
			}

			.selectable-text {
				@include align-horizontal-center;

				bottom: 5px;
				user-select: text;
				width: 100%;
			}
		}

		// New words (upcoming)

		.word.word_new {
			@include button-secondary;

			rt {
				color: $brand-blue-primary !important;

				&::before {
					content: none !important;
				}

				@include dark-mode {
					color: $brand-orange-primary !important;
				}
			}
		}

		// Example words

		.word.word_default {
			@include button-tertiary;

			rt {
				color: $text-on-light !important;

				&::before {
					content: none !important;
				}
			}
		}
	}
}

// Hide furigana on linked words; show on hover
// NOTE: This behaviour doesn't work on mobile, instead
// there is logic in the JS to have the furigana

%reveal-reading {
	rt {
		color: $text-on-dark;

		&::before {
			opacity: 0;
		}
	}
}

.linked-words__examples .hide_readings_hover button.word:not(.word_default) {
	position: relative;

	// Reveal on hover purposefully doesnt work on mobile,
	// as there is click/tap behaviour instead:
	// 1. reveal furigana on first tap
	// 2. search jisho.org on second tap

	@include not-mobile-device {
		&:hover,
		&:focus {
			@extend %reveal-reading;
		}
	}

	@include not-mobile-device--dark-mode {
		&:hover,
		&:focus {
			rt {
				color: $text-on-light;
			}
		}
	}

	@include mobile-device {
		&.-reveal-reading {
			@extend %reveal-reading;
		}
	}

	@include mobile-device--dark-mode {
		&.-reveal-reading rt {
			color: $text-on-light;
		}
	}

	rt {
		color: transparent;
		position: relative;

		&::before {
			@include align-center;

			color: $text-on-dark;
			content: '(hover)';
			font-family: Rubik, sans-serif;
			font-size: 10px;
			opacity: 0.5;
			top: 15px;

			@include dark-mode {
				color: $text-on-light;
			}

			@include mobile-device {
				content: '(tap)';
			}
		}
	}
}

/* END - Linked words
============================================== */
