/* ==============================================
START - Linked words */

.linked-words {
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include bp.get(s) {
			justify-content: flex-start;
		}
	}

	&__examples {
		// Clickable linked word (button)
		.word {
			@include button-primary;

			font-size: 24px !important;
			font-family: inherit;
			margin: 0 10px 10px 0;
			padding: 5px 10px !important;

			ruby {
				display: flex;
				flex-direction: column-reverse;
				line-height: 1.3;

				rt {
					align-items: center;
					display: flex;
					justify-content: center;
					min-height: 15px;
				}
			}

			@include bp.get(s) {
				font-size: 26px !important;
				padding: 5px 15px 8px !important;
			}
		}

		// Example word (button)
		.word.word_default {
			@include button-tertiary;
		}
	}

	&__mobile {
		display: none;
		font-size: $mobile-msg-font-size;
		opacity: $mobile-msg-opacity;

		// Display message
		@include mobile-device {
			display: block;
		}
	}
}

// Hide furigana on linked words; show on hover

.linked-words__examples .hide_readings_hover button.word:not(.word_default) {
	position: relative;

	&:hover rt,
	&:focus rt {
		color: inherit;

		&::before {
			opacity: 0;
		}
	}

	rt {
		color: transparent;
		position: relative;

		&::before {
			content: '(hover)';
			color: $text-on-dark;
			font-family: Rubik, sans-serif;
			font-size: 10px;
			opacity: 0.5;
			position: absolute;

			@include dark-mode {
				color: $text-on-light;
			}
		}
	}
}

/* END - Linked words
============================================== */
