/* ==============================================
START - Primitives and radicals */

.primitives-and-radicals {
	&__container,
	&__components {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;

		@include bp.get(s) {
			justify-content: flex-start;
		}
	}

	&__components {
		flex-wrap: nowrap;
	}

	&__block {
		padding-right: 10px;
		width: 100%;

		&:last-child {
			padding-right: 0;
		}

		@include bp.get(m) {
			min-width: 200px;
		}

		@include bp.get(s) {
			width: auto;
		}
	}

	&__title {
		margin-top: 0;
		margin-top: 15px;
		white-space: nowrap;

		@include bp.get(l) {
			margin-top: 20px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include bp.get(s) {
			justify-content: flex-start;
		}

		button {
			margin: 0 10px 10px 0 !important;
		}
	}
}

.primitiveDetails {
	// NOTE: tooltip styles are in `tooltip.scss`

	h3 {
		margin: 0;
	}

	&-keywords,
	&-meanings {
		margin-bottom: 10px;
	}
}

button.primitive {
	@include button-primary;

	font-family: inherit;
	position: relative;

	&.-has-alternative {
		&::before {
			@include pseudo;

			content: '*';
			font-size: 20px;
			line-height: 1;
			position: absolute;
			right: 2px;
			top: 2px;
		}
	}
}

button.radical {
	@include button-tertiary;

	cursor: not-allowed;
	font-family: inherit;
}

button.primitive,
button.radical {
	@include square(40px);

	font-size: 24px !important;
	padding: 0 0 3px !important;
	position: relative;

	@include bp.get(s) {
		@include square(50px);

		font-size: 28px !important;
	}
}

/* END - Primitives and radicals
============================================== */
