.show-more {
	&__container {
		margin-bottom: 10px;
		max-height: 150px;
		overflow: hidden;
		position: relative;

		// Starting class that ought to be removed
		// to activate "show more" behaviour
		&.-inactive {
			margin-bottom: 0;
			max-height: unset;

			&::after,
			> button {
				display: none;
			}
		}

		// Gradient
		&::after {
			@include pseudo;

			background: linear-gradient(
				to top,
				$body-background-light 30%,
				transparent
			);
			bottom: 0;
			left: 0;
			height: 60px;
			width: 100%;

			@include dark-mode {
				background: linear-gradient(
					to top,
					$body-background-dark 30%,
					transparent
				);
			}
		}
	}

	&__button {
		@include align-horizontal-center;
		@include button-reset;
		@include faded-info-msg;

		background-color: $body-background-light;
		bottom: 0;
		border: 1px solid $brand-grey;
		border-radius: 8px;
		cursor: pointer;
		padding: 5px 7px;
		position: absolute;
		z-index: 1;

		@include dark-mode {
			background-color: $body-background-dark;
			border-color: $brand-grey;
		}

		&:hover,
		&:focus {
			background-color: darken($body-background-light, 10%);

			@include dark-mode {
				background-color: lighten($body-background-dark, 10%);
			}
		}
	}
}
