<div id="welcome">
	<div class="KanjiLookup-container KanjiLookup-container--noResult">
		<h1 class="welcome">WELCOME!</h1>
		<p class="welcome-text">
      To look up Kanji, enter them into the box above and press Enter or press
      the search button.
    </p>
		<p class="welcome-text">
      You can also press <span class="key">CTRL</span> + <span class="key">SHIFT</span> +
      <span class="key">K</span> anywhere in Anki to search for the highlighted
      characters.
    </p>
	</div>
</div>
