{% set cardLayoutStructure = "partials/layout/layout-demo.njk" %}
{% set demoLayoutStructure = "partials/layout/_card-content.njk" %}
{% extends "partials/layout/_demo-content.njk" %}

{% set has_primitive_keyword = true %}

{% block theme %}{% endblock %}
{% block title %}Back w/ Primitive Keyword (Light) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "back-recognition.njk" %}
{% endblock %}
