{% extends "partials/layout/layout-demo-data.njk" %}

{% block theme %}{% endblock %}
{% block title %}Front Production (Light) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "front-production.njk" %}
{% endblock %}
