{% extends "partials/layout/layout-demo-data.njk" %}

{% block theme %}nightMode{% endblock %}
{% block title %}Front Production (Dark) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "front-production.njk" %}
{% endblock %}
