{% extends "partials/layout/layout-demo-data.njk" %}

{% block theme %}{% endblock %}
{% block device %}mobile{% endblock %}
{% block title %}Back - Mobile (Light) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "back-recognition.njk" %}
{% endblock %}
