/*! ==============================================
START - Migaku kanji stylesheet
- @version v0.6.1
============================================== */

.visually-hidden,
.vh {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@font-face {
	font-family: Rubik;
	src: url('/_kanji_uifont_Rubik-regular.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 300;
	src: url('/_kanji_uifont_Rubik-light.ttf');
}

@font-face {
	font-family: Rubik;
	font-weight: 700;
	src: url('/_kanji_uifont_Rubik-bold.ttf');
}

@font-face {
	font-family: kanji_font1;
	src: url('/_kanji_font1__mplus-2c-light.ttf');
}

@font-face {
	font-family: kanji_font2;
	src: url('/_kanji_font2__hgrkk.ttf');
}

@font-face {
	font-family: kanji_font3;
	src: url('/_kanji_font3__dejima-mincho-r227.ttf');
}

@font-face {
	font-family: kanji_font4;
	src: url('/_kanji_font4__jkg-m_3.ttf');
}

.font-1 {
	font-family: kanji_font1 !important;
}

.font-2 {
	font-family: kanji_font2 !important;
}

.font-3 {
	font-family: kanji_font3 !important;
}

.font-4 {
	font-family: kanji_font4 !important;
}

body {
	color: #363c4a;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

body.ankidroid_dark_mode,
body.nightMode,
body.dark {
	color: #fff;
}

.meanings__title,
.keyword-and-meaning__keyword,
h3,
h2,
h1 {
	font-weight: 700;
	margin-bottom: 10px;
	position: relative;
}

@media only screen and (min-width: 36.25em) {
	.-has-separator.meanings__title,
	.-has-separator.keyword-and-meaning__keyword,
	h3.-has-separator,
	h2.-has-separator,
	h1.-has-separator {
		margin-bottom: 30px;
	}

	.-has-separator.meanings__title::after,
	.-has-separator.keyword-and-meaning__keyword::after,
	h3.-has-separator::after,
	h2.-has-separator::after,
	h1.-has-separator::after {
		background: #cbcbcb;
		bottom: -30px;
		content: '';
		height: 1px;
		left: 50%;
		margin-bottom: 20px;
		position: absolute;
		transform: translateX(-50%);
		width: 50px;
	}
}

@media only screen and (min-width: 36.25em) and (min-width: 36.25em) {
	.-has-separator.meanings__title::after,
	.-has-separator.keyword-and-meaning__keyword::after,
	h3.-has-separator::after,
	h2.-has-separator::after,
	h1.-has-separator::after {
		left: 0;
		transform: unset;
	}
}

h1 {
	font-size: 25px;
}

@media only screen and (min-width: 36.25em) {
	h1 {
		font-size: 30px;
	}
}

@media only screen and (min-width: 64em) {
	h1 {
		font-size: 40px;
	}
}

h2 {
	font-size: 16px;
}

@media only screen and (min-width: 36.25em) {
	h2 {
		font-size: 20px;
	}
}

@media only screen and (min-width: 64em) {
	h2 {
		font-size: 25px;
	}
}

h3 {
	font-size: 12px;
}

@media only screen and (min-width: 36.25em) {
	h3 {
		font-size: 15px;
	}
}

@media only screen and (min-width: 64em) {
	h3 {
		font-size: 15px;
	}
}

h1 {
	color: #2880ff;
}

.ankidroid_dark_mode h1,
.nightMode h1,
.dark h1 {
	color: #f2994a;
}

button.radical,
button.primitive,
.linked-words__examples .word.word_default,
.linked-words__examples .word,
.button.-secondary,
.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border: none !important;
	border-radius: 0;
	border-radius: 5px !important;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	padding: 0;
	text-align: center;
	transition: 300ms;
}

.button {
	background: #2880ff;
	padding: 20px 10px !important;
}

.button:hover,
.button:focus {
	background: #004fc1;
}

.button:active {
	background: #003a8e;
}

.ankidroid_dark_mode .button,
.nightMode .button,
.dark .button {
	background: #f2994a;
	color: #363c4a;
}

.ankidroid_dark_mode .button:hover,
.ankidroid_dark_mode .button:focus,
.nightMode .button:hover,
.nightMode .button:focus,
.dark .button:hover,
.dark .button:focus {
	background: #ef7e1a;
}

.ankidroid_dark_mode .button:active,
.nightMode .button:active,
.dark .button:active {
	background: #c8650e;
}

.button.-secondary {
	background: transparent;
	border: 1px solid #2880ff !important;
	box-shadow: none;
	color: #2880ff;
}

.button.-secondary:hover,
.button.-secondary:focus {
	background: rgba(40, 128, 255, 0.2);
}

.button.-secondary:active {
	background: rgba(40, 128, 255, 0.5);
}

.ankidroid_dark_mode .button.-secondary,
.nightMode .button.-secondary,
.dark .button.-secondary {
	border-color: #f2994a !important;
	color: #f2994a;
}

.ankidroid_dark_mode .button.-secondary:hover,
.ankidroid_dark_mode .button.-secondary:focus,
.nightMode .button.-secondary:hover,
.nightMode .button.-secondary:focus,
.dark .button.-secondary:hover,
.dark .button.-secondary:focus {
	background: rgba(242, 153, 74, 0.2);
}

.ankidroid_dark_mode .button.-secondary:active,
.nightMode .button.-secondary:active,
.dark .button.-secondary:active {
	background: rgba(242, 153, 74, 0.5);
}

.button.-wide {
	font-weight: 700;
}

@media (min-width: 30em) {
	.button.-wide {
		max-width: 220px;
		width: 100%;
	}
}

.primitiveDetails,
.kanji-addon__hover-tooltip {
	background: #2880ff;
	border-radius: 5px;
	bottom: calc(100% + 10px);
	box-shadow: 0 4px 16px #363c4a;
	color: #fff;
	font-size: 16px;
	left: 0;
	line-height: 22px;
	opacity: 0;
	padding: 10px !important;
	pointer-events: none;
	position: absolute;
	text-align: left;
	transition: opacity 300ms;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 200px;
	z-index: 1;
}

.ankidroid_dark_mode .primitiveDetails,
.nightMode .primitiveDetails,
.dark .primitiveDetails,
.ankidroid_dark_mode .kanji-addon__hover-tooltip,
.nightMode .kanji-addon__hover-tooltip,
.dark .kanji-addon__hover-tooltip {
	background: #24272d;
}

.primitiveDetails.-below,
.kanji-addon__hover-tooltip.-below {
	bottom: unset;
	left: unset;
	right: 0;
	top: calc(100% + 10px);
}

button.primitive:hover .primitiveDetails,
button.primitive:hover .kanji-addon__hover-tooltip,
button.primitive:focus .primitiveDetails,
button.primitive:focus .kanji-addon__hover-tooltip,
.kanji-addon__hover-tooltip-btn:hover .primitiveDetails,
.kanji-addon__hover-tooltip-btn:hover .kanji-addon__hover-tooltip,
.kanji-addon__hover-tooltip-btn:focus .primitiveDetails,
.kanji-addon__hover-tooltip-btn:focus .kanji-addon__hover-tooltip {
	opacity: 1;
}

[type='range'] {
	-webkit-appearance: none;
	background: transparent;
	cursor: pointer;
	height: 100%;
	margin: 10px 0;
	width: 100%;
}

[type='range']:focus {
	outline: none;
}

[type='range']::-moz-focus-outer {
	border: 0;
}

[type='range']::-webkit-slider-runnable-track {
	background: #000;
	border: 0 solid #cfd8dc;
	border-radius: 5px;
	height: 2px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	width: 100%;
}

[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #000;
	border: 0 solid #eceff1;
	border-radius: 12px;
	box-sizing: border-box;
	height: 20px;
	margin-top: -9px;
	width: 20px;
}

[type='range']::-moz-range-track {
	background: #000;
	border: 0 solid #cfd8dc;
	border-radius: 5px;
	height: 2px;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	width: 100%;
}

[type='range']::-moz-range-thumb {
	background: #000;
	border: 0 solid #eceff1;
	border-radius: 12px;
	box-sizing: border-box;
	height: 20px;
	width: 20px;
}

[type='range']::-ms-track {
	background: transparent;
	border-color: transparent;
	border-width: 10px 0;
	color: transparent;
	height: 2px;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	width: 100%;
}

[type='range']::-ms-fill-lower {
	background: black;
	border: 0 solid #cfd8dc;
	border-radius: 10px;
}

[type='range']::-ms-fill-upper {
	background: #000;
	border: 0 solid #cfd8dc;
	border-radius: 10px;
}

[type='range']::-ms-thumb {
	background: #000;
	border: 0 solid #eceff1;
	border-radius: 12px;
	box-sizing: border-box;
	height: 20px;
	margin-top: 0.5px;
	width: 20px;
}

[type='range']:disabled::-webkit-slider-thumb,
[type='range']:disabled::-moz-range-thumb,
[type='range']:disabled::-ms-thumb,
[type='range']:disabled::-webkit-slider-runnable-track,
[type='range']:disabled::-ms-fill-lower,
[type='range']:disabled::-ms-fill-upper {
	cursor: not-allowed;
}

html {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	overflow-y: scroll;
}

body {
	background: #fff;
	margin: 0;
	min-height: 100vh;
	overflow: hidden;
	padding: 0;
	position: relative;
}

body.ankidroid_dark_mode,
body.nightMode,
body.dark {
	background: #363c4a;
}

.layout__container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1000px;
	padding: 50px 20px;
	text-align: center;
}

@media only screen and (min-width: 36.25em) {
	.layout__container {
		padding-bottom: 50px;
		text-align: left;
	}
}

@media only screen and (min-width: 36.25em) {
	.layout__above {
		margin-bottom: 20px;
	}
}

.layout__main {
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 36.25em) {
	.layout__main {
		flex-direction: row-reverse;
	}
}

@media only screen and (min-width: 36.25em) {
	.layout__aside {
		max-width: 220px;
		width: 100%;
	}
}

@media only screen and (min-width: 48em) {
	.layout__aside {
		max-width: 300px;
	}
}

@media only screen and (min-width: 64em) {
	.layout__aside {
		max-width: 350px;
	}
}

@media only screen and (min-width: 36.25em) {
	.layout__content {
		flex-grow: 1;
		padding-left: 20px;
	}
}

@media only screen and (min-width: 36.25em) {
	.layout__below {
		margin-top: 20px;
	}
}

.separator {
	background: #cbcbcb;
	border: none;
	height: 1px;
	margin-bottom: 20px;
	width: 50px;
}

.separator.-full {
	height: 2px;
	margin-top: 20px;
	width: 100%;
}

#migaku_data {
	display: none;
}

.migaku-header {
	align-items: center;
	background: #2880ff;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	padding: 10px 0;
	text-align: center;
}

.migaku-header__logo {
	height: 30px;
}

.ankidroid_dark_mode .migaku-header,
.nightMode .migaku-header,
.dark .migaku-header {
	background: #f2994a;
}

.character-and-examples__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	text-align: center;
}

.character-and-examples__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.character-and-examples__character {
	align-items: center;
	display: flex;
	font-size: 60px;
	justify-content: center;
	line-height: 80px;
	padding: 0 10px;
}

.character-and-examples__keyword {
	margin: 0 0 20px;
}

.word_front {
	font-size: 28px;
	margin: 0 10px 10px;
}

.word_front_default {
	opacity: 0.5;
}

.stroke-order-diagram__container {
	margin-top: 20px;
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.stroke-order-diagram__container {
		margin-top: 0;
	}

	.stroke-order-diagram__container .separator {
		display: none;
	}
}

.stroke-order-diagram__player {
	align-items: center;
	background: #e5f9ff;
	border: 2px solid #c0e2ed;
	border-radius: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
	min-height: 300px;
	padding: 10px 0;
	position: relative;
	transform-origin: left;
	width: 280px;
}

.ankidroid_dark_mode .stroke-order-diagram__player,
.nightMode .stroke-order-diagram__player,
.dark .stroke-order-diagram__player {
	background: #f2994a;
	border-color: transparent;
}

@media only screen and (min-width: 36.25em) {
	.stroke-order-diagram__player {
		min-height: 230px;
		width: 200px;
	}
}

@media only screen and (min-width: 48em) {
	.stroke-order-diagram__player {
		min-height: 300px;
		padding-bottom: 10px;
		width: 250px;
	}
}

@media only screen and (min-width: 64em) {
	.stroke-order-diagram__player {
		max-width: 280px;
		min-height: 330px;
		width: 100%;
	}
}

.stroke-order-diagram__settings-button {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
	background: none !important;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	cursor: pointer !important;
	height: 30px;
	padding: 0 !important;
	position: relative;
	width: 30px;
	z-index: 2;
}

.stroke-order-diagram__settings-button:hover img,
.stroke-order-diagram__settings-button:focus-visible img {
	opacity: 0.6;
}

.stroke-order-diagram__settings-button:active {
	opacity: 0.4;
}

.stroke-order-diagram__settings-button img {
	height: 20px;
	left: 50%;
	opacity: 0.4;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
}

.stroke-order-diagram__toggle-strokeorder-numbers {
	left: 5px;
	position: absolute;
	top: 3px;
}

.stroke-order-diagram__toggle-strokeorder-numbers img {
	display: none;
	height: 25px;
	width: 25px;
}

.-show-stroke-numbers
	.stroke-order-diagram__toggle-strokeorder-numbers
	img.-numbers-on {
	display: block;
}

.-show-stroke-numbers
	.stroke-order-diagram__toggle-strokeorder-numbers
	img.-numbers-off {
	display: none;
}

.stroke-order-diagram__toggle-strokeorder-numbers img.-numbers-off {
	display: block;
	height: 19px;
	width: 21px;
}

.stroke-order-diagram__settings-tooltip {
	position: absolute;
	right: 3px;
	top: 3px;
}

.stroke-order-diagram__settings-tooltip .kanji-addon__hover-tooltip {
	font-size: 15px;
	line-height: 18px;
}

.stroke-order-diagram__inner-title {
	color: #363c4a;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	opacity: 0.6;
	text-align: center;
	text-transform: uppercase;
}

.stroke-order-diagram__character {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	position: relative;
	width: 100%;
}

.stroke-order-diagram__canvas {
	background-color: #e5f9ff;
	position: relative;
	z-index: 1;
}

.ankidroid_dark_mode .stroke-order-diagram__canvas,
.nightMode .stroke-order-diagram__canvas,
.dark .stroke-order-diagram__canvas {
	background-color: #f2994a;
}

.stroke-order-diagram__canvas svg {
	height: auto;
	overflow: visible !important;
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.stroke-order-diagram__canvas svg {
		padding: 0 20px;
	}
}

.stroke-order-diagram__canvas svg text {
	fill: #000;
	font-size: 10px !important;
	font-weight: bold;
	opacity: 0;
	text-shadow: 1px 1px #e5f9ff;
}

.-show-stroke-numbers .stroke-order-diagram__canvas svg text {
	opacity: 1;
}

.ankidroid_dark_mode .stroke-order-diagram__canvas svg text,
.nightMode .stroke-order-diagram__canvas svg text,
.dark .stroke-order-diagram__canvas svg text {
	fill: #fff;
	text-shadow: 1px 1px #000;
}

.stroke-order-diagram__axes {
	height: 100%;
	left: 50%;
	opacity: 0.2;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.stroke-order-diagram__axes {
		height: 80%;
		width: 80%;
	}
}

.stroke-order-diagram__axes::before,
.stroke-order-diagram__axes::after {
	border-color: #2880ff;
	border-top: 2px dashed;
	content: '';
	height: 1px;
	left: 50%;
	position: absolute;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.ankidroid_dark_mode .stroke-order-diagram__axes::before,
.nightMode .stroke-order-diagram__axes::before,
.dark .stroke-order-diagram__axes::before,
.ankidroid_dark_mode .stroke-order-diagram__axes::after,
.nightMode .stroke-order-diagram__axes::after,
.dark .stroke-order-diagram__axes::after {
	border-color: #363c4a;
}

.stroke-order-diagram__axes::after {
	transform: translateX(-50%) rotate(90deg);
	width: 85%;
}

.stroke-order-diagram__no-data {
	color: #363c4a;
	left: 50%;
	opacity: 0.5;
	padding: 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.stroke-order-diagram__controls {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	width: 100%;
	z-index: 1;
}

.stroke-order-diagram__play-pause-container {
	position: relative;
}

.stroke-order-diagram__play-pause-container button {
	height: 100%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.stroke-order-diagram__play-pause-container button.-hide {
	display: none;
}

.stroke-order-diagram__play-pause-container,
.stroke-order-diagram__buttons button {
	height: 40px;
	width: 100%;
}

@media only screen and (min-width: 36.25em) and (max-width: 47.9375em) {
	.stroke-order-diagram__play-pause-container,
	.stroke-order-diagram__buttons button {
		height: 30px;
	}
}

.stroke-order-diagram__buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.stroke-order-diagram__buttons button {
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	background: none !important;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	box-shadow: none;
	color: #2880ff;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	opacity: 0.4;
	padding: 0;
}

.stroke-order-diagram__buttons button:hover,
.stroke-order-diagram__buttons button:focus-visible {
	opacity: 0.6;
}

.stroke-order-diagram__buttons button:active {
	opacity: 0.4;
}

.stroke-order-diagram__buttons button:disabled {
	cursor: not-allowed;
	opacity: 0.1;
}

.ankidroid_dark_mode .stroke-order-diagram__buttons button,
.nightMode .stroke-order-diagram__buttons button,
.dark .stroke-order-diagram__buttons button {
	color: #363c4a;
}

.stroke-order-diagram__buttons button img {
	height: 25px;
	width: 25px;
}

@media only screen and (min-width: 36.25em) {
	.stroke-order-diagram__buttons button img {
		height: 20px;
		width: 20px;
	}
}

@media only screen and (min-width: 48em) {
	.stroke-order-diagram__buttons button img {
		height: 25px;
		width: 25px;
	}
}

@media only screen and (min-width: 64em) {
	.stroke-order-diagram__buttons button img {
		height: 30px;
		width: 30px;
	}
}

.stroke-order-diagram__slider {
	height: 20px;
	opacity: 0.4;
	position: relative;
}

.stroke-order-diagram__slider input[type='range'] {
	height: 30px;
	left: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.stroke-order-diagram__slider input[type='range'][disabled] {
	cursor: not-allowed;
	opacity: 0.3;
}

.stroke-order-diagram__slider input[type='range'][disabled] + div {
	display: none;
}

.stroke-order-diagram__slider-notches {
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 0 10px;
	pointer-events: none;
	position: absolute;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

.stroke-order-diagram__slider-notches .slider-notch {
	background-color: #000;
	height: 6px;
	width: 1px;
}

.tags__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

.tags__container .tag {
	align-items: center;
	background: #cbcbcb;
	border-radius: 5px;
	display: inline-flex;
	font-size: 14px;
	margin: 0 8px 8px 0;
	padding: 6px 8px;
	text-align: center;
}

.ankidroid_dark_mode .tags__container .tag,
.nightMode .tags__container .tag,
.dark .tags__container .tag {
	background: #24272d;
}

.readings__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	width: 100%;
}

@media only screen and (min-width: 64em) {
	.readings__container {
		padding: 0 40px;
	}
}

.readings__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 0 20px;
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.readings__list {
		flex-direction: column;
		justify-content: unset;
		max-width: 200px;
		padding: 0;
	}
}

@media only screen and (min-width: 64em) {
	.readings__list {
		max-width: none;
	}
}

.readings__list li {
	display: inline-flex;
	flex-direction: column;
	margin: 10px 5px 0;
}

.readings__list li > *:first-child {
	margin: 5px 0;
}

@media only screen and (min-width: 36.25em) {
	.readings__list li {
		flex-direction: row;
	}

	.readings__list li > *:first-child {
		margin: 0 10px 0 0;
	}
}

.font-examples__list {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

@media only screen and (min-width: 36.25em) {
	.font-examples__list {
		justify-content: flex-start;
		margin-bottom: 0;
	}
}

.font-examples__character {
	align-items: center;
	display: flex;
	font-size: 60px;
	justify-content: center;
	line-height: 80px;
	padding: 0 10px;
}

.font-examples__character:first-child {
	padding-left: 0;
}

.font-examples__character:last-child {
	padding-right: 0;
}

.font-examples__character:nth-of-type(1) {
	font-family: kanji_font1;
}

.font-examples__character:nth-of-type(2) {
	font-family: kanji_font2;
}

.font-examples__character:nth-of-type(3) {
	font-family: kanji_font3;
}

.font-examples__character:nth-of-type(4) {
	font-family: kanji_font4;
}

.keyword-and-meaning__container {
	text-align: center;
}

@media only screen and (min-width: 36.25em) {
	.keyword-and-meaning__container {
		margin: 0 0 20px;
		text-align: left;
	}
}

.keyword-and-meaning__keyword {
	color: #2880ff;
	font-size: 25px;
	margin: 0 0 10px;
}

@media only screen and (min-width: 36.25em) {
	.keyword-and-meaning__keyword {
		font-size: 30px;
	}
}

@media only screen and (min-width: 64em) {
	.keyword-and-meaning__keyword {
		font-size: 40px;
	}
}

.ankidroid_dark_mode .keyword-and-meaning__keyword,
.nightMode .keyword-and-meaning__keyword,
.dark .keyword-and-meaning__keyword {
	color: #f2994a;
}

.keyword-and-meaning__keyword .primitive_keyword {
	background-color: rgba(40, 128, 255, 0.2);
	border-radius: 8px;
	display: inline-block;
	padding: 7px 5px 5px;
	position: relative;
}

.ankidroid_dark_mode .keyword-and-meaning__keyword .primitive_keyword,
.nightMode .keyword-and-meaning__keyword .primitive_keyword,
.dark .keyword-and-meaning__keyword .primitive_keyword {
	background-color: rgba(242, 153, 74, 0.2);
}

.keyword-and-meaning__keyword .primitive_keyword::before {
	background-color: #2880ff;
	border-radius: 8px;
	color: #fff;
	content: '';
	content: 'Primitive';
	font-size: 10px;
	padding: 2px 5px;
	position: absolute;
	right: -10px;
	top: -5px;
}

.ankidroid_dark_mode .keyword-and-meaning__keyword .primitive_keyword::before,
.nightMode .keyword-and-meaning__keyword .primitive_keyword::before,
.dark .keyword-and-meaning__keyword .primitive_keyword::before {
	background-color: #f2994a;
	color: #363c4a;
}

.meanings__container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: 36.25em) {
	.meanings__container {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.meanings__title {
	font-size: 12px;
	margin: 0 10px 0 0;
}

@media only screen and (min-width: 36.25em) {
	.meanings__title {
		font-size: 15px;
	}
}

@media only screen and (min-width: 64em) {
	.meanings__title {
		font-size: 15px;
	}
}

.linked-words__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (min-width: 36.25em) {
	.linked-words__list {
		justify-content: flex-start;
	}
}

.linked-words__examples .word {
	background: #2880ff;
	font-size: 24px !important;
	margin: 0 10px 10px 0;
	padding: 20px 10px !important;
	padding: 5px 10px !important;
}

.linked-words__examples .word:hover,
.linked-words__examples .word:focus {
	background: #004fc1;
}

.linked-words__examples .word:active {
	background: #003a8e;
}

.ankidroid_dark_mode .linked-words__examples .word,
.nightMode .linked-words__examples .word,
.dark .linked-words__examples .word {
	background: #f2994a;
	color: #363c4a;
}

.ankidroid_dark_mode .linked-words__examples .word:hover,
.ankidroid_dark_mode .linked-words__examples .word:focus,
.nightMode .linked-words__examples .word:hover,
.nightMode .linked-words__examples .word:focus,
.dark .linked-words__examples .word:hover,
.dark .linked-words__examples .word:focus {
	background: #ef7e1a;
}

.ankidroid_dark_mode .linked-words__examples .word:active,
.nightMode .linked-words__examples .word:active,
.dark .linked-words__examples .word:active {
	background: #c8650e;
}

@media only screen and (min-width: 36.25em) {
	.linked-words__examples .word {
		font-size: 26px !important;
		padding: 8px 15px 5px !important;
	}
}

.linked-words__examples .word.word_default {
	background: #cbcbcb;
	color: #363c4a;
}

.linked-words__examples .word.word_default:hover,
.linked-words__examples .word.word_default:focus {
	background: #b2b2b2;
}

.linked-words__examples .word.word_default:active {
	background: #989898;
}

.linked-words__mobile {
	display: none;
	font-size: 14px;
	opacity: 0.5;
}

.mobile .linked-words__mobile {
	display: block;
}

html:not(.mobile) .linked-words__examples button.word:not(.word_default) {
	position: relative;
}

html:not(.mobile)
	.linked-words__examples
	button.word:not(.word_default)
	ruby::before {
	content: '(hover)';
	font-size: 10px;
	left: 50%;
	opacity: 0.5;
	position: absolute;
	top: 7px;
	transform: translateX(-50%);
}

html:not(.mobile) .linked-words__examples button.word:not(.word_default) rt {
	min-height: 15px;
	opacity: 0;
}

html:not(.mobile)
	.linked-words__examples
	button.word:not(.word_default):hover
	rt,
html:not(.mobile)
	.linked-words__examples
	button.word:not(.word_default):focus
	rt {
	opacity: 1;
}

html:not(.mobile)
	.linked-words__examples
	button.word:not(.word_default):hover
	ruby::before,
html:not(.mobile)
	.linked-words__examples
	button.word:not(.word_default):focus
	ruby::before {
	opacity: 0;
}

.primitives-and-radicals__container {
	display: flex;
}

.primitives-and-radicals__block {
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.primitives-and-radicals__block {
		width: auto;
	}
}

.primitives-and-radicals__mobile {
	display: none;
	font-size: 14px;
	opacity: 0.5;
}

.mobile .primitives-and-radicals__mobile {
	display: block;
}

.primitives-and-radicals__title {
	margin-top: 0;
	margin-top: 20px;
}

@media only screen and (min-width: 36.25em) {
	.primitives-and-radicals__title {
		padding-right: 40px;
	}
}

.primitives-and-radicals__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (min-width: 36.25em) {
	.primitives-and-radicals__list {
		justify-content: flex-start;
	}
}

.primitiveDetails h3 {
	margin: 0;
}

.primitiveDetails-keywords,
.primitiveDetails-meanings {
	margin-bottom: 10px;
}

button.primitive,
button.radical {
	font-size: 20px !important;
	height: 40px;
	margin: 0 10px 10px 0 !important;
	padding: 0 !important;
	position: relative;
	width: 40px;
}

@media only screen and (min-width: 36.25em) {
	button.primitive,
	button.radical {
		font-size: 26px !important;
		height: 50px;
		width: 50px;
	}
}

button.primitive {
	background: #2880ff;
	padding: 20px 10px !important;
	padding: 0 !important;
}

button.primitive:hover,
button.primitive:focus {
	background: #004fc1;
}

button.primitive:active {
	background: #003a8e;
}

.ankidroid_dark_mode button.primitive,
.nightMode button.primitive,
.dark button.primitive {
	background: #f2994a;
	color: #363c4a;
}

.ankidroid_dark_mode button.primitive:hover,
.ankidroid_dark_mode button.primitive:focus,
.nightMode button.primitive:hover,
.nightMode button.primitive:focus,
.dark button.primitive:hover,
.dark button.primitive:focus {
	background: #ef7e1a;
}

.ankidroid_dark_mode button.primitive:active,
.nightMode button.primitive:active,
.dark button.primitive:active {
	background: #c8650e;
}

button.radical {
	background: #cbcbcb;
	color: #363c4a;
	cursor: not-allowed;
}

button.radical:hover,
button.radical:focus {
	background: #b2b2b2;
}

button.radical:active {
	background: #989898;
}

.userData__container img {
	max-width: 100%;
}

.KanjiLookup-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 36.25em) {
	.KanjiLookup-container {
		padding-top: 50px;
	}
}

@media only screen and (min-width: 64em) {
	.KanjiLookup-container {
		padding-top: 100px;
	}
}

.KanjiLookup-container h1 {
	margin-top: 20px;
}

.KanjiLookup-container h1.welcome {
	font-size: 64px;
}

.KanjiLookup-container h1.kanji {
	color: #363c4a;
	font-size: 50px;
	margin-top: 20px;
	opacity: 1;
}

.ankidroid_dark_mode .KanjiLookup-container h1.kanji,
.nightMode .KanjiLookup-container h1.kanji,
.dark .KanjiLookup-container h1.kanji {
	color: #fff;
}

.KanjiLookup-container .key {
	background: #d8dae0;
	border-radius: 5px;
	color: #363c4a;
	display: inline-block;
	margin: 0 4px;
	padding: 5px 10px;
}

.mobile .lookup-actions__container {
	opacity: 0.5;
}

.lookup-actions__buttons {
	display: flex;
	flex-direction: column;
}

@media (min-width: 30em) {
	.lookup-actions__buttons {
		flex-direction: row;
		justify-content: center;
	}
}

@media only screen and (min-width: 36.25em) {
	.lookup-actions__buttons {
		justify-content: flex-start;
	}
}

.mobile .lookup-actions__buttons {
	display: none;
}

.lookup-actions__buttons .button {
	margin-bottom: 20px;
}

@media (min-width: 30em) {
	.lookup-actions__buttons .button {
		margin: 0 10px;
	}
}

@media only screen and (min-width: 36.25em) {
	.lookup-actions__buttons .button:first-of-type {
		margin-left: 0;
	}
}

.lookup-actions__mobile {
	display: none;
	font-size: 14px;
}

.mobile .lookup-actions__mobile {
	display: block;
}

.stories__container {
	text-align: left;
}

.actions__container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

@media (min-width: 30em) {
	.actions__container {
		align-items: flex-start;
	}
}

.mobile .actions__container {
	opacity: 0.5;
}

.actions__buttons {
	width: 100%;
}

.mobile .actions__buttons {
	display: none;
}

@media (min-width: 30em) {
	.actions__buttons .button {
		margin-right: 20px;
	}
}

.actions__mobile {
	display: none;
	font-size: 14px;
}

.mobile .actions__mobile {
	display: block;
}

.actions__set-custom,
.actions__mark-known {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media (min-width: 30em) {
	.actions__set-custom,
	.actions__mark-known {
		flex-direction: row;
		justify-content: center;
	}
}

@media only screen and (min-width: 36.25em) {
	.actions__set-custom,
	.actions__mark-known {
		justify-content: flex-start;
	}
}

.actions__set-custom .button:not(:first-of-type) {
	margin-top: 20px;
}

@media (min-width: 30em) {
	.actions__set-custom .button:not(:first-of-type) {
		margin-top: 0;
	}
}

.actions__mark-known {
	margin-top: 20px;
}

/*! ==============================================
END - Migaku kanji stylesheet
============================================== */
