{% from "partials/structure/title-tooltip-macro.njk" import mcr_titleTooltip with context %}

<!-- START - Actions -->
<div class="actions-back__container">
	{{ mcr_titleTooltip(
			id='actions-back__title',
			title=txt__actions_back_title,
			tooltip=txt__actions_back_tooltip,
			h2class='actions-back__title'
	) }}
	<div class="actions-back__buttons">
		<div class="actions-back__primary">
			<button
				onclick="set_custom_keyword();"
				class="button -wide"
			>
				{{ txt__actions_back_set_keyword }}
			</button>
			<button onclick="set_custom_story();" class="button -wide">
				{{ txt__actions_back_set_story }}
			</button>
		</div>
		<div class="actions-back__secondary">
			{% if not is_lookup %}
				<div class="actions-back__mark-known-delete button-container -wide">
					<button
						onclick="delete_mark(event);"
						class="button -secondary -wide"
					>
						{{ txt__actions_back_mark_delete }}
					</button>
					<span class="faded-info-msg">
						{{ txt__actions_back_mark_delete_info }}
					</span>
				</div>
			{% endif %}
			<button
				onclick="pycmd('suggest_change-' + data.character)"
				class="button -secondary -wide"
			>
				{{ txt__actions_back_suggest_change }}
			</button>
		</div>
	</div>
	<div class="mobile-only-info-msg">
		{{ txt__actions_back_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions -->
