<!-- START - Actions -->
<div class="actions__container">
	<h2 class="-has-separator">Actions</h2>
	<div class="actions__buttons">
		<div class="actions__set-custom">
			<button
				onclick="set_custom_keyword();"
				class="button -wide"
			>
				Set Custom Keyword
			</button>
			<button onclick="set_custom_story();" class="button -wide">
				Set Custom Story
			</button>
		</div>
		<div class="actions__mark-known">
			<button
				onclick="delete_mark(event);"
				class="button -secondary -wide"
			>
				Mark Known And Delete Card
			</button>
		</div>
	</div>
	<div class="actions__mobile">
		Actions only work on desktop.
		<br/>
		You are able to set a custom keyword, custom story, and mark-known/delete existing kanji cards.
	</div>
</div>
<!-- END - Actions -->
