<!-- START - Actions -->
<div class="actions-back__container">
	<h2 class="actions-back__title -has-separator">{{ txt__actions_back_title }}</h2>
	<div class="actions-back__buttons">
		<div class="actions-back__set-custom">
			<button
				onclick="set_custom_keyword();"
				class="button -wide"
			>
				{{ txt__actions_back_set_keyword }}
			</button>
			<button onclick="set_custom_story();" class="button -wide">
				{{ txt__actions_back_set_story }}
			</button>
		</div>
		{% if not is_lookup %}
		<div class="actions-back__mark-known">
			<button
				onclick="delete_mark(event);"
				class="button -secondary -wide"
			>
				{{ txt__actions_back_mark_delete }}
			</button>
		</div>
		{% endif %}
	</div>
	<div class="mobile-info-msg">
		{{ txt__actions_back_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions -->
