<!-- START - Actions -->
<div class="actions__container">
	<h2 class="actions__title -has-separator">{{ txt__actions_title }}</h2>
	<div class="actions__buttons">
		<div class="actions__primary">
			<button
				onclick="set_custom_keyword();"
				class="button -wide"
			>
				{{ txt__actions_set_keyword }}
			</button>
			<button onclick="set_custom_story();" class="button -wide">
				{{ txt__actions_set_story }}
			</button>
		</div>
		<div class="actions__secondary">
			<button
				onclick=""
				class="button -secondary -wide"
			>
				{{ txt__actions_suggest_change }}
			</button>
			{% if not is_lookup %}
				<button
					onclick="delete_mark(event);"
					class="button -secondary -wide"
				>
					{{ txt__actions_mark_delete }}
				</button>
			{% endif %}
		</div>
	</div>
	<div class="mobile-info-msg">
		{{ txt__actions_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions -->
