{% from "partials/structure/title-tooltip-macro.njk" import mcr_titleTooltip with context %}

<!-- START - Actions lookup -->
<div class="actions-lookup__container">
	{{ mcr_titleTooltip(
			id='lookup_actions__title',
			title=txt__actions_lookup_title,
			tooltip=txt__actions_lookup_tooltip,
			h2class='actions-lookup__title'
	) }}
	<div class="actions-lookup__buttons">
		<button
				onclick="recognition_card_click(event);"
				id="recognition_card_btn"
				class="button -wide"
				title="null"
			>
			{{ txt__actions_lookup_recognition }}
		</button>
		<button
				onclick="production_card_click(event);"
				id="production_card_btn"
				class="button -wide"
				title="Shift click to mark as known"
			>
			{{ txt__actions_lookup_production }}
		</button>
	</div>
	<div class="mobile-only-info-msg">
		{{ txt__actions_lookup_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions lookup -->
