<!-- START - Actions lookup -->
<div class="actions-lookup__container">
	<h2 class="actions-lookup__title -has-separator">
		{{ txt__actions_lookup_title }}
	</h2>
	<div class="actions-lookup__buttons">
      <button
				onclick="recognition_card_click(event);"
				id="recognition_card_btn"
				class="button -wide"
				title="null"
			>
				{{ txt__actions_lookup_recognition }}
			</button>
      <button
				onclick="production_card_click(event);"
				id="production_card_btn"
				class="button -wide"
				title="Shift click to mark as known"
			>
				{{ txt__actions_lookup_production }}
			</button>
	</div>
	<div class="mobile-info-msg">
		{{ txt__actions_lookup_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions lookup -->
