<!-- START - Character and examples -->
<div class="character-and-examples__container">
	{% if is_production %}
		<h1 id="keywords_front" class="character-and-examples__keyword"></h1>
	{% else %}
		<ul class="character-and-examples__list">
			<li class="font-1 keyword-kanji character-and-examples__character"></li>
			<li class="font-2 keyword-kanji character-and-examples__character"></li>
			<li class="font-3 keyword-kanji character-and-examples__character"></li>
			<li class="font-4 keyword-kanji character-and-examples__character"></li>
		</ul>
	{% endif %}

	<div id="words_front" class="character-and-examples__list character-and-examples__example-words kanji-char-font"></div>
</div>
<!-- END - Character and examples -->
