<!-- START - Font examples -->
<div class="font-examples__container">
	<h2 class="vh">{{ txt__font_examples_title }}</h2>
	<ul class="font-examples__list">
		<li class="fontExample font-examples__character"></li>
		<li class="fontExample font-examples__character"></li>
		<li class="fontExample font-examples__character"></li>
		<li class="fontExample font-examples__character"></li>
	</ul>
</div>
<!-- END - Font examples -->
