<!-- START - Actions lookup -->
<div class="lookup-actions__container">
	<h2 class="-has-separator">{{ txt__lookup_actions_title }}</h2>
	<div class="lookup-actions__buttons">
      <button
				onclick="recognition_card_click(event);"
				id="recognition_card_btn"
				class="button -wide"
				title="null"
			>
				{{ txt__lookup_actions_recognition }}
			</button>
      <button
				onclick="production_card_click(event);"
				id="production_card_btn"
				class="button -wide"
				title="Shift click to mark as known"
			>
				{{ txt__lookup_actions_production }}
			</button>
	</div>
	<div class="lookup-actions__mobile">
		{{ txt__lookup_actions_mobile_info | safe }}
	</div>
</div>
<!-- END - Actions lookup -->
