{% from "partials/structure/title-tooltip-macro.njk" import mcr__titleTooltip with context %}
{% from "partials/structure/show-more-macro.njk" import mcr__showMore with context %}

<!-- START - Primitives and radicals -->
<div class="primitives-and-radicals__wrapper">
	<div class="primitives-and-radicals__container">
		<div class="primitives-and-radicals__components">
			<div class="primitives-and-radicals__block">
				{{ mcr__titleTooltip(
						id='primtives__title',
						title=txt__primitives_title,
						tooltip=txt__primitives_tooltip,
						h2class='primitives-and-radicals__title'
				) }}
				<div id="primitives" class="primitives-and-radicals__list kanji-char-font">
					{{ primitives | safe }}
				</div>
			</div>
			<div class="primitives-and-radicals__block">
				{{ mcr__titleTooltip(
							id='primitives_of__title',
							title=txt__primitives_of_title,
							tooltip=txt__primitives_of_tooltip,
							h2class='primitives-and-radicals__title'
					) }}
				{% call mcr__showMore(id='primitive_of') %}
					<div id="primitive_of" class="primitives-and-radicals__list kanji-char-font -tooltip-pos__above-left">
							{{ primitive_of | safe }}
					</div>
				{% endcall %}
			</div>
		</div>
		<div class="mobile-info-msg">
			{{ txt__primitives_radicals_mobile_info | safe }}
		</div>
		<div class="primitives-and-radicals__block">
			{{ mcr__titleTooltip(
					id='radicals__title',
					title=txt__radicals_title,
					tooltip=txt__radicals_tooltip,
					h2class='primitives-and-radicals__title'
			) }}
			<div id="radicals" class="primitives-and-radicals__list kanji-char-font">
				{{ radicals | safe }}
			</div>
			<div class="faded-info-msg">
				{{ txt__radicals_tip }}
			</div>
		</div>
	</div>
</div>
<!-- END - Primitives and radicals -->
