<!-- START - Primitives and radicals -->
<div class="primitives-and-radicals__wrapper">
	<div class="primitives-and-radicals__container">
		<div class="primitives-and-radicals__block">
			<h2 class="primitives-and-radicals__title -has-separator">Primitives</h2>
			<div id="primitives" class="primitives-and-radicals__list kanji-char-font">
				{{ primitives | safe }}
			</div>
		</div>
		<div class="primitives-and-radicals__block">
			<h2 class="primitives-and-radicals__title -has-separator">Radicals</h2>
			<div id="radicals" class="primitives-and-radicals__list kanji-char-font">
				{{ radicals | safe }}
			</div>
		</div>
	</div>
	<div class="primitives-and-radicals__mobile">
		Primitives and radicals are only clickable on desktop.
		<br/>
		Only primitive tooltips are visible on mobile.
	</div>
</div>
<!-- END - Primitives and radicals -->
