<!-- START - Primitives and radicals -->
<div class="primitives-and-radicals__wrapper">
	<div class="primitives-and-radicals__container">
		<div class="primitives-and-radicals__block">
			<h2 class="primitives-and-radicals__title -has-separator">Primitives</h2>
			<div id="primitives" class="primitives-and-radicals__list kanji-char-font">
				{{ primitives | safe }}
			</div>
		</div>
		<div class="primitives-and-radicals__block">
			<h2 class="primitives-and-radicals__title -has-separator">Used in</h2>
			<div id="primitive_of" class="primitives-and-radicals__list kanji-char-font">
				{{ primitive_of | safe }}
			</div>
		</div>
		<div class="primitives-and-radicals__block">
			<h2 class="primitives-and-radicals__title -has-separator">Radicals</h2>
			<div id="radicals" class="primitives-and-radicals__list kanji-char-font">
				{{ radicals | safe }}
			</div>
		</div>
	</div>
	<div class="primitives-and-radicals__mobile">
		Primitive buttons are only clickable on desktop.
		<br/>
		Primitive tooltip info can still be viewed, by tapping.
	</div>
</div>
<!-- END - Primitives and radicals -->
