<!-- START - Readings -->
<div class="readings__container">
	<h2 class="vh">Readings</h2>
	<ul class="readings__list">
		<li>
			<strong>Onyomi:</strong>
			<span id="onyomi" class="kanji-char-font">{{ readings_onyomi }}</span>
		</li>
		<li>
			<strong>Kunyomi:</strong>
			<span id="kunyomi" class="kanji-char-font">{{ readings_kunyomi }}</span>
		</li>
		<li>
			<strong>Nanori:</strong>
			<span id="nanori" class="kanji-char-font">{{ readings_nanori }}</span>
		</li>
	</ul>
</div>
<!-- END - Readings -->
