<!-- START - Readings -->
<div class="readings__container">
	<h2 class="vh">{{ txt__readings_title }}</h2>
	<ul class="readings__list">
		<li>
			<strong>{{ txt__readings_onyomi }}</strong>
			<span id="onyomi" class="kanji-char-font"></span>
		</li>
		<li>
			<strong>{{ txt__readings_kunyomi }}</strong>
			<span id="kunyomi" class="kanji-char-font"></span>
		</li>
		<li>
			<strong>{{ txt__readings_nanori }}</strong>
			<span id="nanori" class="kanji-char-font"></span>
		</li>
	</ul>
</div>
<!-- END - Readings -->
