<!-- START - Stories -->
<div class="stories__container">
	{% include "partials/structure/full-separator.njk" %}
	<h2 class="stories__title -has-separator">Stories</h2>
	<div id="stories" class="stories__content">
		{{ stories | safe }}
	</div>
</div>
<!-- END - Stories -->
