{% extends "partials/layout/layout-demo-content.njk" %}

{% block theme %}{% endblock %}
{% block title %}Lookup (Light) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "lookup.njk" %}
{% endblock %}

