{# note behaviour in corresponding `title-tooltip-script.njk` #}
{% macro mcr_titleTooltip(id, title, tooltip, h2class = '', containerClass = '') %}
	<div class="title-tooltip__container{% if containerClass != '' %} {{containerClass}}{% endif %}">
		<h2 class="title-tooltip__title{% if h2class != '' %} {{h2class}}{% endif %}">
			{{ title }}
			<button
				type="button"
				title="What's this?"
				aria-controls="tooltip-id--{{id}}"
				onclick="toggleShow('tooltip-id--{{id}}')"
			>
				<img src="{% if is_demo %}/{% endif %}_kanji_icon_help_black.svg" alt=""/>
			</button>
		</h2>

		<div
			id="tooltip-id--{{id}}"
			class="title-tooltip__text"
			style="display: none"
			aria-expanded="false"
		>
			{{ tooltip | safe }}
		</div>

		<hr class="separator"/>
	</div>
{% endmacro %}
