{# note corresponding markup macro in `title-tooltip-macro.njk` #}
<script>
	function toggleShow(targetId, state) {
		var tooltipContainer = document.getElementById(targetId);

		function open() {
			tooltipContainer.style.display = 'block';
			tooltipContainer.setAttribute('aria-expanded', 'true');
		}

		function close() {
			tooltipContainer.style.display = 'none';
			tooltipContainer.setAttribute('aria-expanded', 'false');
		}

		if (typeof state === 'boolean') {
			if (state) {
				open();
			} else {
				close();
			}
		} else {
			if (tooltipContainer.style.display === 'none') {
				open();
			} else {
				close();
			}
		}
	}

	function toggleShowAll(state) {
		var allTooltips = document.querySelectorAll('.title-tooltip__text');

		for (var i = 0; i < allTooltips.length; i += 1) {
			var id = allTooltips[i].getAttribute('id');
			toggleShow(id, state);
		}
	}
</script>
