<!-- START - Migaku kanji settings -->
<script>
	var settings = JSON.parse('{"show_readings_front": false, "words_max": 3, "only_custom_keywords": false, "only_custom_stories": true, "hide_default_words": true, "hide_keywords": false, "stroke_order_mode": "auto_all", "stroke_order_show_numbers": false, "hide_readings_hover": true, "show_header": true, "show_radicals": false}');
</script>
<!-- END - Migaku kanji settings -->
