{% set cardLayoutStructure = "partials/layout/layout-demo.njk" %}
{% set demoLayoutStructure = "partials/layout/_card-content.njk" %}
{% extends "partials/layout/_demo-content.njk" %}


{% block theme %}{% endblock %}
{% block device %}mobile{% endblock %}
{% block title %}Lookup - Mobile | Migaku Kanji{% endblock %}

{% block content %}
	{% include "lookup.njk" %}
{% endblock %}

