{% extends "partials/layout/layout-demo-content.njk" %}

{% block theme %}nightMode{% endblock %}
{% block title %}Lookup - Welcome (Dark) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "demo/partials/demo-lookup-welcome.njk" %}
{% endblock %}

