{% extends "partials/layout/layout-demo-data.njk" %}
{% set no_stroke_data = true %}

{% block theme %}{% endblock %}
{% block title %}Back - No Stroke Data (Dark) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "back-recognition.njk" %}
{% endblock %}
