@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#migaku_data {
  display: none;
}

.font-1 {
  font-family: "kanji_font1";
}

.font-2 {
  font-family: "kanji_font2";
}

.font-3 {
  font-family: "kanji_font3";
}

.font-4 {
  font-family: "kanji_font4";
}

html,
body {
  font-family: "Rubik", sans-serif;
  color: #363c4a;
  font-size: 16px;
  padding: 0;
  margin: 0;
  background: #fff;
  min-height: 100vh;
}

html .dark {
  color: #fff;
  background: #3a3f4c;
}

body.dark::-webkit-scrollbar-thumb {
  background: #656565;
  border-radius: 8px;
}

body.dark::-webkit-scrollbar {
  background: #2f2f31;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.KanjiLookup-container {
  max-width: 1000px;
  margin: auto;
  padding: 100px 50px 0;
}

.productionCard-front {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  color: #2880ff;
  opacity: 0.3;
}

h1.keyword {
  color: #3a3f4c;
  opacity: 1;
  font-weight: 500;
}

h1.keyword-kanji {
  display: inline-block;
  font-size: 50px;
  margin: 0 10px;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  position: relative;
  margin-bottom: 30px;
}

h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 1px;
  width: 50px;
  height: 1px;
  background: #c4c4c4;
}

h3 {
  display: inline;
  font-size: 16px;
  font-weight: 700;
}

h4 {
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.fontExample {
  font-size: 32px;
}

.tag {
  background: #cbcbcb;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.tag span {
  font-weight: 700;
}

li {
  display: block;
  position: relative;
  padding-left: 25px;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  background: #2880ff;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.primitive,
.radical {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  background: #e5f9ff;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s;
}

.word {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  background: #e5f9ff;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background 0.3s;
}

.word.word_default {
  background: #cbcbcb;
}

.primitive:hover,
.primitive:focus,
.word:hover,
.word:focus,
.radical:hover,
.radical:focus {
  background: #c0e2ed;
}

.primitiveDetails {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  user-select: none;
  bottom: calc(100% + 15px);
  text-align: left;
  width: auto;
  white-space: nowrap;
  background: #e5f9ff;
  box-shadow: 0px 4px 16px rgba(0, 10, 25, 0.15);
  padding: 20px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  transition: opacity 0.3s;
}

.primitive:hover .primitiveDetails,
.primitive:focus .primitiveDetails {
  opacity: 1;
  user-select: auto;
  pointer-events: default;
}

.exampleWord {
  margin: 0 10px;
}

.button {
  display: inline-block;
  background: #2880ff;
  line-height: 44px;
  height: 44px;
  width: 215px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(114, 171, 254, 0.7);
  border: 1px solid #2880ff;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 20px;
  margin-bottom: 20px;
}

.button:hover,
.button:focus {
  background: #246dd7;
  border: 1px solid #246dd7;
}

.button.secondary {
  position: relative;
  background: transparent;
  color: #2880ff;
  filter: drop-shadow(0px 4px 16px rgba(114, 171, 254, 0.7));
  box-shadow: none;
}

.button.secondary::after {
  content: "";
  background: #246dd7;
  height: 1px;
  width: 0px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.button.secondary:hover {
  color: #246dd7;
  border: 1px solid #246dd7;
}

.button.secondary:hover::after {
  width: 150px;
}

.story {
  margin-bottom: 20px;
  margin-top: 20px;
}

.separator {
  width: 50px;
  height: 1px;
  background: #c4c4c4;
  margin-bottom: 20px;
}

.separator.separator-full {
  width: 100%;
  height: 2px;
  margin-top: 20px;
}

/* PLAYER */

.KanjiLookup-player {
  margin-bottom: 30px;
  text-align: center;
}

.playerContainer {
  padding: 50px 20px;
  display: grid;
  grid-template-rows: 35px 1fr 25px;
}

.playerTitle {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #2880ff;
  opacity: 0.3;
}

.playerContainer {
  background: #e5f9ff;
  border-radius: 14px;
  height: 360px;
  width: 360px;
}

.playerControls button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2880ff;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.playerControls button:hover {
  opacity: 0.5;
}

/* POSITIONING */

.KanjiLookup-details {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.keywords {
  margin-bottom: 20px;
}

.KanjiLookup-actions {
  margin: 40px 0;
}

/* No Result */

.KanjiLookup-container--noResult {
  text-align: center;
}

.KanjiLookup-container--noResult h1.kanji {
  color: #363c4a;
  opacity: 1;
  margin-top: 50px;
  font-size: 50px;
}

/* Welcome */

h1.welcome {
  font-size: 64px;
  margin-bottom: 70px;
  padding-top: 100px;
}

.welcome-text {
  margin-bottom: 20px;
}

.key {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 4px;
  border-radius: 5px;
  background: #d8dae0;
}

/* DARK MODE */

.dark .playerContainer {
  background: #f2994a;
}

.dark .playerTitle {
  color: #363c4a;
}

.dark .playerControls button {
  color: #363c4a;
  opacity: 1;
}

.dark .playerControls button:hover {
  opacity: 0.7;
}

.dark h1 {
  color: #f2994a;
}

.dark h1.keyword {
  color: #f2f2f2;
}

.dark .button {
  box-shadow: 0px 4px 16px rgba(243, 165, 68, 0.3);
  border: 1px solid #f2994a;
  background: #f2994a;
}

.dark .button:hover,
.dark .button:focus {
  background: #de9238;
  border: 1px solid #de9238;
}

.dark .button.secondary {
  color: #f2994a;
  background: transparent;
  filter: drop-shadow(0px 4px 16px rgba(243, 165, 68, 0.02));
}

.dark .button.secondary::after {
  background: #de9238;
}

.dark .button.secondary:hover {
  color: #de9238;
  border: 1px solid #de9238;
}

.dark .tag {
  background: #30343e;
  color: #f2f2f2;
}

.dark li::before {
  background: #f2994a;
}

.dark .primitive,
.dark .radical {
  background: #30343e;
}

.dark .word {
  background: #f2994a;
}

.dark .word.word_default {
  background: #30343e;
  color: #f2f2f2;
}

.dark .primitive:hover,
.dark .primitive:focus,
.dark .radical:hover,
.dark .radical:focus {
  background: #24272d;
}

.dark .word:hover,
.dark .word:focus {
  background: #de9238;
}

.dark .word.word_default:hover,
.dark .word.word_default:focus {
  background: #24272d;
}

.dark .primitiveDetails {
  background: #30343e;
}

.dark .KanjiLookup-container--noResult h1.kanji {
  color: #f2f2f2;
}

.dark .key {
  background: #30343e;
}

/*  Mobile */

@media (max-width: 1000px) {
  .KanjiLookup-details {
    grid-template-columns: 1fr;
  }

  .KanjiLookup-description {
    margin-bottom: 40px;
  }

  .playerContainer {
    margin: auto;
  }
}
