{% extends "partials/layout/layout-demo-data.njk" %}

{% block theme %}{% endblock %}
{% block title %}Front Recognition (Light) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "front-recognition.njk" %}
{% endblock %}

