{% extends "partials/layout/layout-demo-data.njk" %}

{% block theme %}nightMode{% endblock %}
{% block title %}Front Recognition (Dark) | Migaku Kanji{% endblock %}

{% block content %}
	{% include "front-recognition.njk" %}
{% endblock %}

