// --------------------------------------
// Plugins (these need to be top-level)

@use "sass:map";
@use "sass:math";
@use "@deloitte-digital-au/ddbreakpoints/lib/dd.breakpoints" as bp with (
    $dev-mode: (
        enabled: false, // never commit 'true'!
        selector: "body::after", // must be pseudo element
        position: top left,
        on-dark: false
    ),
		$breakpoints: (
        xxs: 359,
        xs: 480,
        s: 580, // modified from 640px
        m: 768,
        l: 1024,
        xl: 1244,
        xxl: 1410,
        xxxl: 1570,
        fhd: 1900,
    )
);

/*! ==============================================
START - Migaku kanji stylesheet
- @version v0.9.9
============================================== */

@import 'globals/variables';
@import 'globals/mixins';
@import 'globals/fonts';
@import 'globals/typography';
@import 'globals/buttons';
@import 'globals/tooltip';
@import 'globals/inputs';
@import 'globals/layout';
@import 'globals/migaku';

@import 'partials/character-and-examples';
@import 'partials/stroke-order-diagram';
@import 'partials/tags';
@import 'partials/readings';
@import 'partials/font-examples';
@import 'partials/keyword-and-meaning';
@import 'partials/linked-words';
@import 'partials/primitives-and-radicals';
@import 'partials/user-data';
@import 'partials/lookup';
@import 'partials/stories';
@import 'partials/actions';

/*! ==============================================
END - Migaku kanji stylesheet
============================================== */
